<div ng-controller="IndexController">

  <div class="padding">

    <div class="menus">
        <ul>
            <li>
                <span class="icon ion-power"></span>
                <button class="button button-stable button-clear" ng-click='moveTutorial();'>チュートリアル</button>
            </li>
            <li>
                <span class="icon ion-alert"></span>
                <button class="button button-stable button-clear" ng-click='moveNews();'>新着一覧</button>
            </li>
            <li>
                <span class="icon super-home"></span>
                <button class="button button-stable button-clear" ng-click='moveHome();'>ホーム</button>
            </li>
            <li>
                <span class="icon ion-ios-cart"></span>
                <button class="button button-stable button-clear" ng-click='moveCart();'>カート</button>
            </li>
            <li>
                <span class="icon ion-person"></span>
                <button class="button button-stable button-clear" ng-click='moveMyPage();'>マイページ</button>
            </li>
            <li>
                <span class="icon ion-android-mail"></span>
                <button class="button button-stable button-clear" ng-click='moveContact();'>お問い合わせ</button>
            </li>
            <li>
                <span class="icon ion-help-circled"></span>
                <button class="button button-stable button-clear" ng-click='moveHowToUse();'>ご利用方法</button>
            </li>
            <li>
              <span class = "icon ion-person"></span>
              <button class="button button-stable button-clear" ng-click = 'moveTestView();'>TestView</button>
            </li>
        </ul>
    </div>
  </div>

</div>
